h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

h1 {
    font-size: 1.8rem;
    font-weight: 600;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    display: grid;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    grid-template-areas:
        "header"
        "main";
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
}

header {
    grid-area: header;
    position: sticky;
    background-color: var(--surface-color);
    top: 0;
    min-width: var(--min-layout-width);
    user-select: none;
}

main {
    grid-area: main;
    min-width: var(--min-layout-width);
    overflow: auto;
    height: 100%;
}

header.labeling-header,
header.project-header {
    align-items: center;
    display: grid;
    gap: 2rem;
    grid-template-areas:
        "logo path buttons";
    grid-template-columns: min-content 1fr min-content;
    padding: .5rem 1rem;
    border-bottom: 1px solid var(--border-color);
}

header>span.path {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header>span.buttons {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    gap: 1rem;
    align-items: center;
}

main.labeling-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
}

main.project-main {
    display: grid;
    grid-template-areas:
        "toolbar"
        "table";
    grid-template-rows: auto 1fr;
}

main.project-main>div.toolbar {
    grid-area: toolbar;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
}

main.project-main>div.toolbar>input {
    border: var(--border-color) 1px solid;
    padding: 0.5rem;
    border-radius: var(--border-radius-medium);
    outline: none;
}