# Virtual environment
.venv

# Secrets
.env

# Python caches
__pycache__
.mypy_cache

# SQLite database
*.db
*.sqlite3

# Compiled JavaScript files
frontend/static/js/

# Demo project creation
demos

# Build artifacts
build/
dist/
mrkr.egg-info/
mrkr/_version.py