# Virtual environment
.venv

# Secrets
.env

# Python caches
__pycache__
.mypy_cache

# SQLite database
*.db
*.sqlite3

# Compiled JavaScript files
frontend/static/js/*.js

# Demo project creation
demo.py