fastapi>=0.115.12
httpx>=0.28.1
jinja2>=3.1.6
mypy>=1.15.0
pdf2image>=1.17.0
pydantic>=2.11.5
pydantic[email]>=2.11.5
pytesseract>=0.3.13
psycopg2-binary>=2.9.10
sqlmodel>=0.0.24
requests>=2.32.4
uvicorn>=0.34.2
bcrypt>=4.3.0