h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

body {
    display: grid;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    grid-template-areas:
        "header"
        "main";
    grid-template-rows: auto 1fr;
}

header {
    display: grid;
}

header.labeling-header {
    align-items: center;
    display: grid;
    gap: 2rem;
    grid-template-areas:
        "logo" "path" "options";
    grid-template-columns: min-content 1fr min-content;
    padding: 1rem;
}