{% extends "base.html" %}

{% block scripts %}
<script type="module" src="{{ url_for('static', path='/js/styled_link.js') }}"></script>
<script type="module" src="{{ url_for('static', path='/js/styled_button.js') }}"></script>
<script type="module" src="{{ url_for('static', path='/js/label_maker.js') }}"></script>
{% endblock %}

{% block header %}
<header class="labeling-header">
    <h1>mrkr</h1>
    <span>
        <styled-link href="https://www.google.com">Projects</styled-link>
        &nbsp;&nbsp;/&nbsp;&nbsp;
        <styled-link href="https://www.google.com">{{document.project.name}}</styled-link>
        &nbsp;&nbsp;/&nbsp;&nbsp;
        <b>Document #{{document.id}}</b>
    </span>
    <styled-button>Options</styled-button>
</header>
{% endblock %}

{% block main %}
<main class="labeling-main">
    <label-maker document-metadata-url="{{ url_for('document_metadata', document_id=document.id) }}"
        document-content-url="{{ url_for('document_content', document_id=document.id) }}" show-pages="all-loaded"
        document-labeldata-url="{{ url_for('document_labeldata', document_id=document.id) }}">
    </label-maker>
</main>
{% endblock %}