{% extends "base.html" %}

{% block scripts %}
<script type="module" src="{{ url_for('static', path='/js/styled_link.js') }}"></script>
<script type="module" src="{{ url_for('static', path='/js/styled_button.js') }}"></script>
<script type="module" src="{{ url_for('static', path='/js/resizable_panes.js') }}"></script>
{% endblock %}

{% block header %}
<header class="labeling-header">
    <h1>mrkr</h1>
    <span>
        <styled-link href="www.google.com">Projects</styled-link>
        &nbsp;&nbsp;/&nbsp;&nbsp;
        <styled-link href="www.google.com">{{project}}</styled-link>
        &nbsp;&nbsp;/&nbsp;&nbsp;
        <b>{{task}}</b>
    </span>
    <styled-button>Options</styled-button>
</header>
{% endblock %}

{% block main %}
<main class="labeling-main">
    <resizable-panes count="3" orientation="vertical">
        <div slot="first">Hallo</div>
        <div slot="second">Hallo2</div>
    </resizable-panes>
</main>
{% endblock %}