{% extends "base.html" %}

{% block scripts %}
<script type="module" src="{{ url_for('static', path='/js/styled_link.js') }}"></script>
<script type="module" src="{{ url_for('static', path='/js/styled_button.js') }}"></script>
<script type="module" src="{{ url_for('static', path='/js/resizable_panes.js') }}"></script>
<script type="module" src="{{ url_for('static', path='/js/document_viewer.js') }}"></script>
{% endblock %}

{% block header %}
<header class="labeling-header">
    <h1>mrkr</h1>
    <span>
        <styled-link href="www.google.com">Projects</styled-link>
        &nbsp;&nbsp;/&nbsp;&nbsp;
        <styled-link href="www.google.com">{{project}}</styled-link>
        &nbsp;&nbsp;/&nbsp;&nbsp;
        <b>{{task}}</b>
    </span>
    <styled-button>Options</styled-button>
</header>
{% endblock %}

{% block main %}
<main class="labeling-main">
    <resizable-panes orientation="vertical" minsize="400" startsize="60">
        <div slot="first">
            <document-viewer metadata-url="{{ url_for('document_metadata', document_id=1) }}"
                content-url="{{ url_for('document_content', document_id=1) }}"
                ocr-url="{{ url_for('document_ocr', document_id=1) }}" title="Document">
            </document-viewer>
        </div>
        <div slot="second">Hallo2</div>
    </resizable-panes>
</main>
{% endblock %}