{% extends "base.html" %}

{% block scripts %}
<script type="module" src="{{ url_for('static', path='/js/styled_link.js') }}"></script>
<script type="module" src="{{ url_for('static', path='/js/styled_button.js') }}"></script>
<script type="module" src="{{ url_for('static', path='/js/filtered_table.js') }}"></script>
{% endblock %}

{% block header %}
<header class="project-header">
    <h1>mrkr</h1>
    <span class="path">
        <styled-link href="{{ url_for('projects_page') }}">Projects</styled-link>
        &nbsp;&nbsp;/&nbsp;&nbsp;
        <b>{{project.name}}</b>
    </span>
    <span class="buttons">
        <styled-button>Options</styled-button>
    </span>
</header>
{% endblock %}

{% block main %}
<main class="project-main">
    <div class="toolbar">
        <div class="buttons">
            <styled-button disabled>Assign to...</styled-button>
            <styled-button disabled>Review by...</styled-button>
            <styled-button disabled>Mark as...</styled-button>
        </div>
        <input type="text" name="filter-documents" id="filter" placeholder="Filter documents..." autocomplete="off"
            autocorrect="off" autocapitalize="off" spellcheck="false" aria-label="Filter documents">
    </div>
    <filtered-table content-url="{{ url_for('list_project_documents', project_id=project.id) }}"
        table-config='{"idColumn": "id", "headers": {"id": "ID", "status": "Status", "assignee_name": "Assignee", "reviewer_name": "Reviewer", "created": "Created at", "updated": "Updated at", "path": "Path"}, "filterElement": "filter", "display": {"status": "chip"}, "chips": {"processing": "#90A4AE", "open": "#80DEEA", "done": "#4CAF50", "in review": "#FFC107"}}'>Hallo</filtered-table>
</main>

<script>
    document.addEventListener('row-clicked', (event) => {
        const detail = event.detail;
        console.log(`Row clicked in table ${detail.tableId}: ${detail.rowId}`);
        const url = "{{ url_for('document_page', document_id='[ID]') }}";
        // Replace [ID] with the actual row ID
        window.location.href = url.replace("[ID]", detail.rowId);
    });
</script>

{% endblock %}