{% extends "base.html" %}

{% block scripts %}
<script type="module" src="{{ url_for('static', path='/js/styled_link.js') }}"></script>
<script type="module" src="{{ url_for('static', path='/js/styled_button.js') }}"></script>
<script type="module" src="{{ url_for('static', path='/js/filtered_table.js') }}"></script>
{% endblock %}

{% block header %}
<header class="project-header">
    <h1>mrkr</h1>
    <span class="path">
        <b>Projects</b>
    </span>
    <span class="buttons">
        <styled-button>Options</styled-button>
    </span>
</header>
{% endblock %}

{% block main %}
<main class="project-main">
    <div class="toolbar">
        <div button></div>
        <input type="text" id="filter" placeholder="Filter projects..." autocomplete="off" autocorrect="off"
            autocapitalize="off" spellcheck="false" aria-label="Filter documents">
    </div>
    <filtered-table content-url="{{ url_for('list_projects') }}"
        table-config='{"idColumn": "id", "headers": {"id": "ID", "name": "Name", "created": "Created at", "updated": "Updated at", "path": "Path"}, "filterElement": "filter"}'>Hallo</filtered-table>
</main>

<script>
    document.addEventListener('row-clicked', (event) => {
        const detail = event.detail;
        console.log(`Row clicked in table ${detail.tableId}: ${detail.rowId}`);
        const url = "{{ url_for('project_documents_page', project_id='[ID]') }}";
        // Replace [ID] with the actual row ID
        window.location.href = url.replace("[ID]", detail.rowId);
    });
</script>

{% endblock %}