{% extends "base.html" %}

{% block scripts %}
<script type="module" src="{{ url_for('static', path='/js/styled_link.js') }}"></script>
<script type="module" src="{{ url_for('static', path='/js/styled_button.js') }}"></script>
<script type="module" src="{{ url_for('static', path='/js/filtered_table.js') }}"></script>
{% endblock %}

{% block header %}
<header class="project-header">
    <h1>mrkr</h1>
    <span class="path">
        <b>Projects</b>
    </span>
    <span class="buttons">
    </span>
</header>
{% endblock %}

{% block main %}
<main class="project-main">
    <div class="toolbar">
        <div class="buttons">
            <styled-button id="schedule-scan-button" disabled>Schedule Scan</styled-button>
        </div>
        <input type="text" name="filter-projects" id="filter" placeholder="Filter projects..." autocomplete="off"
            autocorrect="off" autocapitalize="off" spellcheck="false" aria-label="Filter projects">
    </div>
    <filtered-table id="filtered-table" content-url="{{ url_for('list_projects') }}"
        table-config='{"idColumn": "id", "headers": {"id": "ID", "name": "Name", "done": "Done", "open": "Open", "in_review": "In Review", "created": "Created at", "updated": "Updated at", "path": "Path"}, "filterElement": "filter"}'>Hallo</filtered-table>
</main>

<script>
    document.addEventListener('row-clicked', (event) => {
        const detail = event.detail;
        const url = "{{ url_for('project_documents_page', project_id='[ID]') }}";
        window.location.href = url.replace("[ID]", detail.rowId);
    });

    document.addEventListener('selection-changed', (event) => {
        const detail = event.detail;
        document.getElementById('schedule-scan-button')?.setAttribute('disabled', !detail.atLeastOneSelected);
    });

    document.getElementById('schedule-scan-button')?.addEventListener('click', (event) => {
        document.getElementById('filtered-table')?.getSelectedRows().forEach((rowId) => {
            const url = "{{ url_for('scan_project', project_id='[ID]') }}";
            const scanUrl = url.replace("[ID]", rowId);
            fetch(scanUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ project_id: rowId })
            }).then(response => {
                if (response.ok) {
                    // todo
                } else {
                    // todo
                    console.error(`Failed to schedule scan for project ${rowId}`);
                }
            }).catch(error => {
                // todos
                console.error(`Error scheduling scan for project ${rowId}:`, error);
            });
        });
    });
</script>

{% endblock %}