{% extends "base.html" %}

{% block scripts %}
<script type="module" src="{{ url_for('static', path='/js/projects_content.js') }}"></script>
{% endblock %}

{% block header %}
<header class="project-header">
    <h1>mrkr</h1>
    <span class="path">
        <b>Projects</b>
    </span>
    <span class="buttons">
    </span>
</header>
{% endblock %}

{% block main %}
<main class="project-main">
    <projects-content content-url="{{ url_for('list_projects') }}"
        project-gui-url="{{ url_for('project_documents_page', project_id='[ID]') }}"
        scan-url="{{ url_for('scan_project', project_id='[ID]') }}"
        sort-img="{{ url_for('static', path='/img/chevron-up-down-outline.svg') }}"
        create-url="{{ url_for('create_project_page') }}"
        edit-url="{{ url_for('edit_project_page', project_id='[ID]') }}"></projects-content>
</main>
{% endblock %}